<launch>

    <!--  ************** Global Parameters ***************  -->
    <param name="/use_sim_time" value="true"/>

    <!-- map & localization -->
    <!-- <include file="$(find hunter_navigation)/launch/config_amcl.launch" /> -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find hunter_navigation)/maps/webots_indoor.yaml" output="screen">
        <param name="frame_id" value="map"/>
    </node>

    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <rosparam file="$(find hunter_navigation)/cfg/amcl_params.yaml" command="load" />

        <param name="initial_pose_x" value="0"/>
        <param name="initial_pose_y" value="0"/>
        <param name="initial_pose_a" value="0"/>
    </node>

    <!-- motion planning & control -->
    <include file="$(find hunter_navigation)/launch/config_move_base.launch" />

    <!-- visualization -->
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hunter_navigation)/cfg/rviz_navigation.rviz"/> -->

</launch>
