<launch>

    <!-- localization -->
    <include file="$(find hunter_teb_planner)/launch/config_amcl.launch" />

    <!-- motion planning & control -->
    <include file="$(find hunter_teb_planner)/launch/config_move_base.launch" />

    <!-- visualization -->
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hunter_teb_planner)/cfg/rviz_navigation.rviz"/> -->

</launch>
