<launch>
  <!-- <arg name="bag_filenames" default="/home/rdu/WestonRobot/bag/20hz_lidar_odom.bag" /> -->
  <arg name="bag_filenames" />
  <arg name="no_rviz" default="false"/>
  <arg name="rviz_config" default="$(find hunter_cartographer)/rviz/demo_3d.rviz"/>
  <arg name="configuration_directory" default="$(find hunter_cartographer)/configuration_files"/>
  <arg name="configuration_basenames" default="hunter_3d_mapping.lua"/>
  <arg name="urdf_filenames" default="$(find hunter_description)/urdf/hunter_v1_nav.urdf"/>
  <arg name="launch_prefix" default=""/>

  <include file="$(find hunter_cartographer)/launch/hunter_offline_3d_slam.launch">
    <arg name="bag_filenames" value="$(arg bag_filenames)"/>
    <arg name="no_rviz" value="$(arg no_rviz)"/>
    <arg name="rviz_config" value="$(arg rviz_config)"/>
    <arg name="configuration_directory" value="$(arg configuration_directory)"/>
    <arg name="configuration_basenames" value="$(arg configuration_basenames)"/>
    <arg name="urdf_filenames" value="$(arg urdf_filenames)"/>
    <arg name="launch_prefix" value="$(arg launch_prefix)"/>
  </include>

  <!-- <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find hunter_cartographer)/configuration_files/demo_3d.rviz" /> -->
</launch>
